#addNewTask {
    /* margin: auto; */
}

.inputs {
    border-radius: 0.7rem;
    color: black;
    padding: 3rem;
    width: auto;
    display: flex;
    flex-direction: column;
    border-width: 3px;
    background-color: white;
    background-image: url("https://www.transparenttextures.com/patterns/bedge-grunge.png");
    border: 0;
    gap: 1rem;
    position: relative;
    z-index: 5;
}

.inputs input,
select {
    height: 1.5rem;
    padding: 0 0.3rem;
    border-radius: 0.4rem;
    border: 1px solid;
    font-family: "Exo 2", sans-serif;
    background: transparent;
}
input:focus,
select:focus,
textarea:focus {
    outline: none;
}

input[type="text"] {
    width: 100%;
    font-size: 1.1rem;
    font-family: "Exo 2", sans-serif;
    font-weight: bold;
    flex-wrap: wrap;
    margin-bottom: 0.2rem;
    border: 0px;
}

textarea {
    font-size: 0.9rem;
    font-family: "Exo 2", sans-serif;
    padding: 0 0.3rem;
    margin-bottom: 0.2rem;
    border: 0px;
    width: 100%;
    resize: none;
    background: transparent;
}

.other-fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.5rem;
    align-items: center;
}

.date-project {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
}

.buttons {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 1rem 0;
    gap: 0.3rem;
}

/* .taskBtn {
    background: white;
    padding: 0.2rem;
    border: 1px solid;
    border-radius: 0.6rem;
    padding: 0.5rem 0.7rem;
    font-family: "Exo 2", sans-serif;
    transition: 0.2s;
} */

.removeTask {
    --accent: #ff220c;
}

.setTask {
    --accent: rgb(3, 12, 29);
    /* margin-right: 3rem; */
}

.removeTask:hover {
    background-color: #ff220c;
    color: white;
    border-color: #ff220c;
    transition: 0.2s;
}

.setTask:hover {
    background-color: rgb(3, 12, 29);
    color: white;
    border-color: rgb(3, 12, 29);
    transition: 0.2s;
}

@media screen and (max-width: 600px) {
    .inputs {
        position: fixed;
        height: fit-content;
        width: 100%;
        bottom: 0;
        border-radius: 2rem 2rem 0 0;
        z-index: 50;
    }
    .buttons {
        margin-top: 1rem;
    }
}
