#addTaskBtn {
    margin: 1.5rem 5%;
    /* display: inline-flex; */
}

#addTaskBtn > * {
    display: inline;
}

#addTaskBtn > p {
    margin-right: 0.5rem;
    background: transparent;
    font-size: 1.2rem;
    /* border: 2px solid rgb(3, 12, 29); */
    width: 2rem;
    padding: 0.3rem 15px;
    border-radius: 0.5rem;
    transition: 0.5s;
}

#addTaskBtn > p:hover {
    background-color: rgb(3, 12, 29);
    color: #eeeeee;
    transition: 0.6s;
    cursor: pointer;
    /* transform: rotate(180deg); */
}
