#addTaskBtn {
    position: absolute;
    left: 50%;
    margin-left: -59.8px;
    bottom: 5%;
    z-index:9; 
}

#addTaskBtn > p {
    background-color: rgb(3, 12, 29);
    box-shadow: 1px 1px 2px 0px rgb(146, 146, 146);
    color: #eeeeee;
    font-size: 1.2rem;
    padding: 15px;
    border-radius: 40px;
    transition: 0.5s;
}


#addTaskBtn > p:hover {
    background-color: var(--dark-blue);
    transition: 0.6s;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    #addTaskBtn {
        /* display: block; */
        position: fixed;
        /* width: 100vw; */
        /* bottom: 5%; */

        left: 50%;
        margin-left: -59.8px;
        z-index:6; 
    }
    
}