#addTaskBtn {
    /* margin: 1.5rem 0;
    display: inline-flex; */
    /* display:block; */
    position: absolute;
    right: 8%;
    bottom: 5%;
    z-index:100; 
}

#addTaskBtn > * {
    display: inline;
}

#addTaskBtn > p {
    margin-right: 0.5rem;
    /* background: transparent; */
    background-color: rgb(3, 12, 29);
    color: #eeeeee;
    font-size: 1.2rem;
    /* border: 1.5px solid rgb(3, 12, 29); */
    width: 2rem;
    padding: 10px 15px;
    border-radius: 5px;
    transition: 0.5s;
}


#addTaskBtn > p:hover {
    background-color: var(--dark-blue);

    transition: 0.6s;
    cursor: pointer;
    /* transform: rotate(180deg); */
}

@media screen and (max-width: 500px) {
    .sidebar {
        position: fixed;
        background-color: var(--main-grey)
    }
}