* {
    font-family: "Exo 2", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --top-bar-height: 70px;
    --main-grey: rgba(212, 201, 201, 0.9);
    --dark-grey: rgba(116, 112, 112, 0.6);
    --main-blue: #4c8db3bd;
    --sidebar-blue: #d1caa1;
    --dark-blue: #152d3b;
    --dark-blue-blur: #0c1d27d7;
    --light: #fdfffc;
    --sidebar-width: 250px;
    --main: white;
}

main {
    display: inline-flex;
    /* flex: 0 0 auto; */
    width: calc(100% - 0.6rem);
    margin-inline: 0.3rem;
}

#loading {
    /* background-color: green; */
    font-size: 2rem;
    display: block;
    margin: auto;
}

#all-done {
    /* margin-top: 2rem; */
    font-size: 1.9rem;
    font-style: italic;
    /* text-align: center; */
    display: flex;
    /* flex-shrink: 1; */
    flex-direction: column;

    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    overflow-x: hidden;

    /* background-color: var(--main-grey); */
}
.image {
    object-fit: contain;
    width: 500px;
    height: auto;
}

@media (max-width: 360px) {
    #all-done {
        font-size: 1.4rem;
    }
}

@media (max-width: 600px) {
    .image {
        object-fit: contain;
        width: 250px;
        height: auto;
    }
}
