* {
    font-family: "Exo 2", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --top-bar-height: 70px;
    --main-grey: rgba(212, 201, 201, 0.9);
    --dark-grey: rgba(116, 112, 112, 0.6);
    --main-blue: #4c8db3bd;
    --sidebar-blue: #d1caa1;
    --dark-blue: #152d3b;
    --dark-blue-blur: #0c1d27d7;
    --light: #fdfffc;
    --sidebar-width: 250px;
    --main: white;
}

main {
    display: inline-flex;
    /* background-color: yellowgreen; */
    flex: 0 0 auto;
    width: calc(100vw - 1rem * 2);
    margin-inline: 0.3rem;
}

#loading {
    /* background-color: green; */
    font-size: 2rem;
    display:block;
    margin: auto;
}

#all-done {
    font-size: 2rem;
    font-style: italic;
    /* display:block; */
    /* margin: auto; */
    width: calc(100%);
    height: calc(100vh - var(--top-bar-height) - 20px - 4rem);
    display: flex;
    flex-direction:column;
    /* text-align: center; */
    align-items: center;
    justify-content:center;
    /* background-image: url(http://www.transparenttextures.com/patterns/cartographer.png);  */
}
