* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f5f5;
    font-family: "Exo 2", sans-serif;
}

header {
    background-color: #eeeeee;
    color: #141b41;
    font-family: "Exo 2", sans-serif;
    width: auto;
    margin: 1rem 3% 1rem 3%;
    /* border: 1px solid #141b41; */
    border-radius: 1rem;
}

.nav-item {
    background-color: #8086a7;
    border-radius: 0.5rem;
    color: aliceblue;
    font-weight: bold;
    text-shadow: 1px 1px #141b41;
}

main {
    margin: 1rem 3% 1rem 3%;
    background-color: #eeeeee;
    border-radius: 1rem;
    min-height: 100vh;
}
.aside-col {
    border-right: 1px solid black;
    margin-bottom: 1rem;
    height: 100%;
}
div.aside-col div {
    margin: 1rem 3% 1rem 3%;
    background-color: #aa9f9f;
    border-radius: 1rem;
}
.tasks-col {
}

#addTaskBtn {
    background-color: #f25918;
    border-radius: 40%;
    position: fixed;
    bottom: 5%;
    left: 50%;
    margin-left: -21px;
    /* border: 1px solid rgb(141, 133, 133); */
    /* box-shadow: 1px 2px 20px rgb(59, 59, 59); */
}
#addTaskBtn:hover {
    background-color: #e9581b;
    box-shadow: 1px 2px 10px rgb(204, 201, 201);
}
#addTaskBtn:active {
    background-color: #f1500b;
    box-shadow: 1px 2px 20px rgb(141, 137, 137);
}

.task {
    /* background-color: #f25918; */
    margin: 0.5rem 0;
    /* border-radius: 5px; */
    /* padding: 0px 10px 0px 10px; */
}

.input-item {
    margin: 0 1rem;
}

.task-input {
    /* border-radius: 0.5rem; */
    background-color: #eeeeee;
    border-style: none;
    border-bottom: 1px solid #141b41;
}

.task-input:focus {
    border-style: none;
    background-color: #eeeeee;
}

.removeTask {
    color: rgb(148, 15, 15);
    height: 100%;
    width: 2rem;
    border: 1px solid rgb(148, 15, 15);
    border-radius: 0.2rem;
}

footer {
    margin: 1rem 3% 1rem 3%;
    border-top: 1px solid #141b41;
    padding-top: 8px;
}
