:root {
    --gradient: linear-gradient(var(--dark-blue), rgba(239, 248, 248, 0.9));
    --gradient-deg: linear-gradient(
        45deg,
        var(--dark-blue),
        rgba(255, 255, 255, 0)
    );
}
#tasks-container {
    width: 100%;
    padding-inline: 5%;
    /* display: flex; */
    flex-grow: 0;
    /* flex-basis: ; */
    overflow-y: auto;
    height: calc(100vh - var(--top-bar-height) - 0.5rem * 2);
}

#task {
    /* margin-block: 0.3rem; */
    /* background: rgb(186, 212, 221); */
    /* background: linear-gradient(0.25turn, #ffffff, #6363db60, #ffffff); */
    padding: 0.6rem;
    padding-bottom: calc(0.6rem + 1px);
    /* width: auto; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 2px solid var(--dark-blue); */
    /* border-radius: 2rem; */
    /* background: var(--gradient-deg); */
    background: var(--main-grey);
    position: relative;
    z-index: 1;
}

#task > * {
    flex-wrap: wrap;
    flex: 0 1 auto;
}

#task::after {
    content: "";
    display: block;
    position: absolute;
    height: calc(100% - 1px);
    width: 100%;
    background-color: var(--main);
    left: 0;
    /* top: 1px; */
    bottom: 1px;
    z-index: -1;
}

#task-view {
    /* margin: 1rem auto; */
    margin: auto;
    /* max-width: 80vw; */
    /* width: 50%; */
    /* background: rgb(186, 212, 221); */
    /* background: linear-gradient(0.25turn, #ffffff, #6363db60, #ffffff); */
    padding: 5rem;
    /* width: auto; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid var(--main-grey); */
    border-radius: 1rem;
    /* -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5); */
    flex-direction: column;
    gap: 3rem;

    /* border-top: 5px solid var(--dark-blue); */
    /* border-bottom: 10px solid rgba(255, 255, 255, 0.8); */

    /* border-width: 2px; */
    /* background: var(--gradient); */
    background: var(--main-grey);

    border: 0;
    position: relative;
    z-index: 5;
}
#task-view::before {
    content: "";

    display: block;
    width: calc(100% - 5px * 2);
    height: calc(100% - 5px * 2);
    background: var(--main);
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: -1;
    border-radius: 0.7rem;
}

.data {
    /* background-color: blueviolet; */
    /* flex: 1 1 auto; */
    /* align-items: center; */

    /* flex-wrap: nowrap; */
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    margin-left: 0.3rem;
}

.data-view {
    /* background-color: blueviolet; */
    /* flex: 1 1 auto; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* flex-wrap: nowrap; */
}

.data > * {
    /* padding: 0.2rem; */
    /* margin: 0.5rem; */
    /* flex: 1 0 auto; */
    flex-wrap: wrap;
    flex: 0 1 auto;
}
.data > p {
    padding-inline: 0.1rem;
    text-align: center;
}
.name-check {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
}

/* .name-check > p {
    flex-shrink: 1;
    flex-grow: 0;
    flex-wrap: wrap;
    word-wrap: break-word;
} */

.check-name-view {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 3rem;
}

.checkbox {
    height: 17px;
    width: 17px;
    background: transparent;
    border: 1px solid var(--dark-grey);
    border-radius: 8.5px;
    margin-right: 0.5rem;
}

.name-view {
    font-size: 1.5rem;
}

.description-view {
    font-size: 1rem;
    /* text-align: left; */
}

.dueDate {
    /* border: 1px solid orange; */
    font-size: small;
    /* font-weight: bold; */
    padding: 5px;
    background-color: orange;
    color: white;
    border-radius: 4px;
    /* border: 1px solid orange; */
}

.project {
    background-color: cornflowerblue;
    color: white;
    font-size: small;
    padding: 5px;
    border-radius: 4px;
    /* font-weight: bold; */
    /* border: 1px solid cornflowerblue; */
}

.priority {
    background-color: rgb(223, 9, 9);
    color: white;
    font-size: small;
    /* border: 1px solid rgb(223, 9, 9); */
    padding: 5px;
    border-radius: 4px;
    /* font-weight: bold; */
    /* border: 1px solid; */
    /* padding: 0 0.3rem; */
    /* border-radius: 1rem; */
}

.flags-view {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
}
.flags > * {
    /* padding: 0.2rem;
    margin: 0.5rem; */
    /* flex: 1 0 auto; */
    /* gap */
}

.btns {
    display: inline-flex;
    gap: 0.4rem;
    justify-content: flex-end;
}
.btns-view {
    display: inline-flex;
    gap: 0.4rem;
    justify-content: center;
    flex-wrap: wrap;
}

.btn {
    /* --accent: grey; */
    cursor: pointer;
    background: transparent;
    border: 1.5px solid var(--accent);
    color: var(--accent);
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 90%;
    font-weight: 300;
    /* letter-spacing: 1px; */
    transition: 0.5s all;
    outline: none;
}

.btn:hover {
    background: var(--accent);
    color: white;
}

.edit.btn {
    --accent: green;
}

.delete.btn {
    --accent: #e62600;
}

.view.btn {
    --accent: #009f93;
}

.check.btn {
    --accent: gray;
}

input[type="checkbox"] {
    /* appearance: none; */
    /* outline: 0px; */
    /* background-color: transparent; */
    margin: 0;
    /* font: inherit; */
    color: var(--dark-grey);
    width: 1.15em;
    height: 1.15em;
    /* border: 1.5px solid var(--dark-grey); */
    /* border-radius: 1em; */
    /* transform: translateY(-0.075em); */
}

/* 

input[type="checkbox"]::before {
    appearance: none;
    background-color: transparent;
    margin: 0;
    font: inherit;
    color: var(--dark-grey);
    width: 1.15em;
    height: 1.15em;
    border: 1.5px solid var(--dark-grey);
    border-radius: 1em;
    transform: translateY(-0.075em);
}
input[type="checkbox"]:hover {
    cursor: pointer;
}
input[type="checkbox"]:focus {
    transform-origin: bottom left;
    background-color: var(--dark-grey);
    color: var(--dark-grey);
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
} 
*/
