:root {
    --gradient: linear-gradient(var(--dark-blue), rgba(239, 248, 248, 0.9));
    --gradient-deg: linear-gradient(
        45deg,
        var(--dark-blue),
        rgba(255, 255, 255, 0)
    );
}
#tasks-container {
    width: 100%;
    padding-inline: 5%;
    flex-grow: 0;
    overflow-y: auto;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    position: relative;
}

#tasks-list {
    margin-bottom: 1rem;
}

#task {
    padding: 0.6rem;
    /* padding-bottom: calc(0.6rem + 1px); */

    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--main-grey);
    /* position: relative;
    z-index: 1; */
}

#task > * {
    flex-wrap: wrap;
    flex: 0 1 auto;
}

#task-view {
    margin: auto;
    padding: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;
    flex-direction: column;
    gap: 3rem;
    background-image: url("https://www.transparenttextures.com/patterns/bedge-grunge.png");
    /* background: var(--main-grey); */
    border: 0;
    z-index: 5;
}
#task-link {
    z-index: 0;
}

#task-edit {
    margin: auto;

    z-index: 5;
}

.data {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    margin-left: 0.3rem;
}

.data-view {
    display: flex;
    flex-direction: column;
}

.data > * {
    flex-wrap: wrap;
    flex: 0 1 auto;
}
.data > p {
    /* padding-inline: 0.1rem; */
    text-align: center;
}
.name-check {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}
.name {
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.name:hover {
    background: var(--main-grey);
    cursor: pointer;
    transition: 0.3s;
}

.check-name-view {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 3rem;
}

.checkbox {
    height: 17px;
    width: 17px;
    background: transparent;
    border: 1px solid var(--dark-grey);
    border-radius: 8.5px;
    margin-right: 0.5rem;
}

.name-view {
    font-size: 1.5rem;
    border-bottom: 1px solid;
    padding-bottom: 5px;
}

.description-view {
    font-size: 1rem;
    /* text-align: left; */
}

.dueDate {
    /* border: 1px solid orange; */
    font-size: small;
    /* font-weight: bold; */
    padding: 5px;
    background-color: orange;
    color: white;
    border-radius: 4px;
    /* border: 1px solid orange; */
}

.project {
    background-color: cornflowerblue;
    color: white;
    font-size: small;
    padding: 5px;
    border-radius: 4px;
    /* font-weight: bold; */
    /* border: 1px solid cornflowerblue; */
}

.priority {
    background-color: rgb(223, 9, 9);
    color: white;
    font-size: small;
    /* border: 1px solid rgb(223, 9, 9); */
    padding: 5px;
    border-radius: 4px;
    /* font-weight: bold; */
    /* border: 1px solid; */
    /* padding: 0 0.3rem; */
    /* border-radius: 1rem; */
}

.flags-view {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
}

.btns {
    display: inline-flex;
    gap: 0.4rem;
    justify-content: flex-end;
}
.btns-view {
    display: inline-flex;
    gap: 0.4rem;
    justify-content: center;
    flex-wrap: wrap;
}

.btn {
    /* --accent: grey; */
    cursor: pointer;
    background: transparent;
    border: 1.5px solid var(--accent);
    color: var(--accent);
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 90%;
    font-weight: 300;
    /* letter-spacing: 1px; */
    transition: 0.5s all;
    outline: none;
}

.btn:hover {
    background: var(--accent);
    color: white;
}

.edit.btn {
    --accent: green;
}

.delete.btn {
    --accent: #e62600;
}

.view.btn {
    --accent: #009f93;
}

.check.btn {
    --accent: gray;
}

.back.btn {
    --accent: var(--dark-blue);
}

input[type="checkbox"] {
    margin: 0;
    color: var(--dark-grey);
    width: 1.15em;
    height: 1.15em;
}
