* {
    font-family: "Exo 2", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --top-bar-height: 50px;
    --main-grey: rgba(212, 201, 201, 0.9);
    --dark-grey: rgba(116, 112, 112, 0.9);
    --main-blue: #1f5777;
    --dark-blue: #152d3b;
    --light: #fdfffc;
    --sidebar-width: 250px;
}
